body {
    background-color: #cff293;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 760px;
    display: block;
}

header {
    text-align: center;
}

header h1, h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

nav {
    float: right;
    width: 200px;
    display: block;
    font-family: sans-serif;
    background-color: #ceb;
    border: 1px solid #c2c2c2;
    padding: 5px;
}

nav h3, nav h4 {
    margin: 0;
}

nav ul {
    padding-left: 5px;
    font-size: 10pt;
}
nav li {
    margin-top: 8px;
    margin-bottom: 8px;
    list-style: none;
}

nav a:hover {
    color: #bd0000;
}

#archives {
    display: block;
    margin: 0 5px 5px 5px;
    border: 1px solid black;
    border-bottom: 0;
}

#archives h4 {
    cursor: pointer;
    background-color: #999;
    padding: 2px 4px;
    border-bottom: 1px solid black;
    font-size: 16px;
    line-height: 16px;
}

#archives h4.current {
    cursor: default;
}

#archives h4 div {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-right: 3px;
    background: url(plusminus.png) no-repeat top;
    float: left;
}

#archives h4.current div {
    background-position: bottom;
}

#archives ul {
    background-color: #ccc;
    margin: 0;
    padding: 4px 0 4px 8px;
    border-bottom: 1px solid black;
}

#archives a {
    display: block;
    text-decoration: none;
}

#archives a.current {
    color: #000;
    cursor: default;
}

article {
    padding: 10px;
    margin-left: 30px;
    margin-right: 250px;
    display: block;
    background-color: #f7fcee;
    border: 1px solid #6fa513;
    font-family: sans-serif;
}

#article-title {
    color: #bd0000;
    font-family: serif;
    margin-bottom: 0;
}

#article-date {
    color: #900;
    font-family: serif;
    margin-top: 0;
    font-size: 14pt;
    margin-left: 10px;
}

footer {
    clear: both;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
